%div#details
  %form
    %label{for: "Restaurant name"} Restaurant name
    %input{name: "Restaurant name", placeholder: "Type in your restaurant name", type: "text"}
    %label{for: "Restaurant address"} Restaurant address
    %input{name: "Restaurant address", placeholder: "Type in your restaurant address", type: "text"}
    %label{for: "Zip code"} Zip code
    %input{name: "Zip code", placeholder: "Type in your Zip code", type: "text"}
    %label{for: "Max delivery radius"} Max delivery radius
    %input{name: "Max delivery radius", placeholder: "Max delivery radius (Km)", type: "text"}
    %label{for: "Public phone number"} Public phone number
    %input{name: "Public phone number", placeholder: "Type in the public phone number", type: "text"}
    %label{for: "Owner name"} Owner name
    %input{name: "Owner name", placeholder: "Type in your full name", type: "text"}
    %label{for: "Owner address"} Owner address
    %input{name: "Owner address", placeholder: "Type in your full address", type: "text"}
    %label{for: "Private phone number"} Private phone number
    %input{name: "Private phone number", placeholder: "Type in your private phone number", type: "text"}
    %label{for: "Email address"} Email address
    %input{name: "Email address", placeholder: "Type in your email address", type: "text"}
    %label{for: "Restaurant description"} Restaurant description
    %textarea{cols: "25", name: "Restaurant description", rows: "10", placeholder: "Type in a brief description of your Restaurant (eg. Open hours, type of restaurant, delivery fee)"}
