language: ruby
rvm: 2.3.1
notifications:
 email: false
cache:
- bundler
- apt
addons:
  postgresql: '9.4'
before_install:
- sudo apt-get update -qq
- sudo apt-get install -qq postgresql-server-dev-9.4 libpq-dev
- npm install -g phantomjs
before_script: bundle exec rails db:setup
script: bundle exec rake test_with_coveralls
