%h1 What do you feel like tonight?
%h2
  List of restaurants
%ul
  %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
%div{style: 'width: 800px'}
  #map{style: 'width: 800px; height: 400px; background-color: green;'}
    %h2 Map
