%footer
  %nav
    %p Copyright®
    %ul.inline-list
      %li
        %a{href: "#{}"} Site Map
      %li
        %a{href: "#{}"} Contacts
      %li
        = link_to "Register your restaurant", new_user_registration_path
